<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<title>TEST</title>
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, minimum-scale=1,user-scalable=no,height=device-height, target-densitydpi=1">
<body>

<h3>For Testing</h3>

<br />
<br />
<br />
<br />
<a href="itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/leewaycn/xiaoer2/master/XiaoEr.plist">
  Install "XiaoEr IOS" (IOS)
</a><br /><br />
</body>
</html>
